* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    display: block;
    margin: 10px auto;
    width: 200px;
    text-align: center;
    color: rgb(199, 176, 45);
}

.recipeList a {
    display: block;
    margin: 15px;
    text-decoration: none;
    color: rgb(96, 96, 255);
    border: 1px solid gray;
    width: 150px;
    border-radius: 10%;
    font-size: 20px;
}

img {
    margin-left: 40px;
    border: 2px solid rgb(255, 222, 131);
}

.groupOfElements {
    background-color: rgb(214, 214, 214);
    margin: 20px auto 20px 40px;
    width: 40%;
    padding: 10px;
}

.blockOfElements {
    margin: 10px auto 10px 40px;
}

.homeLink {
    margin: 40px auto 0px 40px;
    position: fixed;
}